In [1]:
from pyspark.sql import SparkSession

In [2]:
spark_sess = SparkSession.builder.appName("aggreation_app").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/08 10:22:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/08 10:22:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark_sess

In [5]:
# Read data
df = spark_sess.read.csv("./data/employee_data.csv", header=True, inferSchema=True)

In [6]:
df.show()

+---------------+---+------+----------+---------+------+
|  Employee Name|Age|   Sex|Department|  Country|Salary|
+---------------+---+------+----------+---------+------+
|       John Doe| 28|  Male|     Sales|      USA| 55000|
|     Jane Smith| 34|Female|        HR|   Canada| 62000|
|Michael Johnson| 42|  Male|        IT|       UK| 75000|
|    Emily Davis| 29|Female| Marketing|Australia| 60000|
|  William Brown| 37|  Male|   Finance|  Germany| 68000|
|      Linda Lee| 31|Female|     Sales|      USA| 58000|
|   James Wilson| 45|  Male|        IT|   Canada| 72000|
|    Mary Taylor| 27|Female| Marketing|       UK| 59000|
|   Robert Clark| 38|  Male|   Finance|Australia| 71000|
| Sarah Martinez| 32|Female|        HR|  Germany| 63000|
|    David White| 29|  Male|     Sales|      USA| 55000|
| Karen Anderson| 43|Female|        IT|   Canada| 72000|
| Charles Harris| 35|  Male| Marketing|       UK| 65000|
| Patricia Lewis| 28|Female|   Finance|Australia| 60000|
| Joseph Jackson| 39|  Male|        HR|  Germany| 67000|
|    Nancy Moore| 30|Female|     Sales|      USA| 57000|
|  Daniel Taylor| 44|  Male|        IT|   Canada| 71000|
| Elizabeth Hall| 33|Female| Marketing|       UK| 62000|
|  Thomas Garcia| 36|  Male|   Finance|Australia| 69000|
|   Susan Turner| 28|Female|        HR|  Germany| 63000|
+---------------+---+------+----------+---------+------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- Employee Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Salary: integer (nullable = true)

### Aggregation methods

- sum

In [7]:
# get total salary of employee
df.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|    1622000|
+-----------+

- Mean

In [9]:
# get average salary of employee
df.agg({"Salary":"mean"}).show()

+-----------+
|avg(Salary)|
+-----------+
|    64880.0|
+-----------+

- Min

In [10]:
# get minimum salary of employee
df.agg({"Salary":"min"}).show()

+-----------+
|min(Salary)|
+-----------+
|      55000|
+-----------+

- Max

In [11]:
# get maximum salary of employee
df.agg({"Salary":"max"}).show()

+-----------+
|max(Salary)|
+-----------+
|      75000|
+-----------+

In [14]:
# Alternative method
from pyspark.sql.functions import avg, sum, max, min
agg_df = df.agg(avg("Salary"), sum("Salary"), max("Salary"), min("Salary"))

In [15]:
agg_df.show()

+-----------+-----------+-----------+-----------+
|avg(Salary)|sum(Salary)|max(Salary)|min(Salary)|
+-----------+-----------+-----------+-----------+
|    64880.0|    1622000|      75000|      55000|
+-----------+-----------+-----------+-----------+

#### Group By followed by aggregation

In [17]:
# Get average salary according to sex
df.groupBy("Sex").mean().show()

+------+-----------------+-----------------+
|   Sex|         avg(Age)|      avg(Salary)|
+------+-----------------+-----------------+
|Female|            31.25|          62750.0|
|  Male|37.76923076923077|66846.15384615384|
+------+-----------------+-----------------+

In [35]:
# Group by department, get average salary
df.groupBy("Department").mean().show()

+----------+--------+-----------+
|Department|avg(Age)|avg(Salary)|
+----------+--------+-----------+
|     Sales|    31.8|    58200.0|
|        HR|    34.0|    64400.0|
|   Finance|    33.6|    66400.0|
| Marketing|    32.8|    62800.0|
|        IT|    41.0|    72600.0|
+----------+--------+-----------+

In [19]:
# Get total salary by department
df.groupBy("Department").sum().show()

+----------+--------+-----------+
|Department|sum(Age)|sum(Salary)|
+----------+--------+-----------+
|     Sales|     159|     291000|
|        HR|     170|     322000|
|   Finance|     168|     332000|
| Marketing|     164|     314000|
|        IT|     205|     363000|
+----------+--------+-----------+

In [20]:
# Get total emploee on each department
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    5|
|        HR|    5|
|   Finance|    5|
| Marketing|    5|
|        IT|    5|
+----------+-----+

### orderBy

In [28]:
# Get the employee having maximum salary
from pyspark.sql.functions import col
df.orderBy(col("Salary").desc()).first()

Row(Employee Name='Michael Johnson', Age=42, Sex='Male', Department='IT', Country='UK', Salary=75000)

In [34]:
df.orderBy(col("Salary"), ascending=False).first()

Row(Employee Name='Michael Johnson', Age=42, Sex='Male', Department='IT', Country='UK', Salary=75000)

In [29]:
# Get the employee having minimum salary
df.orderBy(col("Salary").asc()).first()

Row(Employee Name='John Doe', Age=28, Sex='Male', Department='Sales', Country='USA', Salary=55000)

In [33]:
# or
df.orderBy(col("Salary"), ascending=True).first()

Row(Employee Name='John Doe', Age=28, Sex='Male', Department='Sales', Country='USA', Salary=55000)